{:paths ["src"]
 :deps  {org.clojure/clojure        {:mvn/version "1.10.3" :scope "provided"}
         org.clojure/clojurescript  {:mvn/version "1.10.844" :scope "provided"}
         org.clojure/core.cache     {:mvn/version "1.0.207"}

         com.cognitect/transit-clj  {:mvn/version "1.0.324"}
         com.cognitect/transit-cljs {:mvn/version "0.8.264"}

         mount/mount                {:mvn/version "0.1.16"}

         appliedscience/js-interop  {:mvn/version "0.2.5"}
         mhuebert/kitchen-async     {:mvn/version "0.1.0"}

         lambdaisland/fetch         {:git/url "https://github.com/den1k/fetch"
                                     :sha     "25cbe2cfbe1a297989cad31f7194b8b0e6806f00"}

         nano-id/nano-id            {:mvn/version "1.0.0"}
         buddy/buddy-core           {:mvn/version "1.9.0"}
         medley/medley              {:mvn/version "1.3.0"}
         com.rpl/specter            {:mvn/version "1.1.3"}
         net.cgrand/xforms          {:mvn/version "0.19.2"}
         backtick/backtick          {:mvn/version "0.3.4"}

         org.clojure/data.csv       {:mvn/version "1.0.0"}
         hickory/hickory            {:mvn/version "0.7.1"}
         }
 :aliases
        {:test {:extra-paths ["test"]
                :extra-deps  {org.clojure/test.check {:mvn/version "1.1.0"}}}}}
